# Node
frontend/node_modules
frontend/.next
frontend/.env.local
frontend/scripts
frontend/upload-test.js

# Python
backend/venv
backend/__pycache__/
backend/.env

# System
.DS_Store
*.log
.env
